@import "../../../styles/global.scss";

.mainImageContainer {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImageBorder {
  border: 0.125rem solid $color-shadow-panel;
  border-radius: 0.5rem;
  width: 100%;
  height: 12.7rem;
  background-color: $color-input-bg;
  display: flex;
  align-items: center;
  justify-content: center;
}
