@import "../../styles/global.scss";

.panel {
  color: $color-title-text;
  background-color: $color-title-panel;
  height: 2.75rem;
  text-align: center;
  line-height: 2.75rem;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  // margin-right: auto;
  flex: 1;
}

.right {
  flex: 1;
  // margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
