@import "./global.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperLayer {
  pointer-events: none;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.contentLayer {
  position: relative;
  flex: 1;
  width: 19.2rem;
  height: 100%;
  padding: 1rem;
  /** grid是由内部元素控制大小，而flex是由外部元素控制 */
  display: flex;
  flex-direction: column;
  // grid-template-rows: 3fr 3fr 3fr;
  row-gap: 0.5rem;
}

.mainImageContainer {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImageBorder {
  border: 0.125rem solid $color-shadow-panel;
  border-radius: 0.5rem;
  width: 100%;
  height: 12.7rem;
  background-color: $color-input-bg;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainParagraphContainer {
  flex: 3;
  width: 100%;
  height: 14rem;
  overflow-y: auto;
}

.paragraph {
  border-radius: 0.5rem;
  user-select: text;
  -webkit-user-select: text;
  width: 100%;
  min-height: 13rem;
  padding: 0.5rem;
  outline: none;
  text-overflow: ellipsis;
  background-color: transparent;
  border: none;
}

.paragraph:focus {
  background-color: $color-input-bg;
  box-shadow: $color-shadow-panel 0px 0px 4px 2px inset;
  border: none;
}

.paragraph:empty {
  border: 0.25rem dashed $color-background-wuwangcao;
}

.interactiveMessageContainer {
  flex: 3;
  visibility: hidden;
}

.menuBtnContainer {
  position: fixed;

  pointer-events: auto;
}

.musicBtnContainer {
  position: fixed;
  top: 1.6rem;
  right: 1.2rem;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.manageBtn {
  top: 1.4rem;
  left: 1.2rem;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  background: none;
  padding: 0;
  color: #888888;
  display: flex;
  align-items: center;
  justify-content: center;
}
