@import "./global.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  background-color: $color-background-violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 1.75rem;
}

.cover {
  width: 256px;
  height: 256px;
  background-color: $color-button-panel;
  border: 1px solid $color-border;
  box-shadow: $shadow-panel;
  margin-bottom: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $color-button-text;
  font-size: 16px;
}

.cover_icon {
  width: 88px;
  height: 88px;
}

.btn_panel {
  width: 250px;
  height: 60px;
  border-radius: 50px;
  background-color: $color-button-panel;
  box-shadow: $shadow-panel;
  margin-bottom: 10%;

  padding: 4px 20px 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  user-select: none;
}

.info {
  width: 168px;
  height: 24px;
  border-radius: 15px;
  background-color: $color-button-panel;
  box-shadow: $shadow-panel;

  padding: 2px 10px 2px;
  text-align: center;
  font-size: 14px;
  color: $color-button-text;
}

@media (max-width: 400px) {
  .cover {
    transform: scale(0.8);
  }
}

.btn {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: $color-button-text;
  font-size: 12px;
  letter-spacing: 0.125rem;
}

.icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $color-button-icon-background;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_panel .btn:nth-child(1) .icon {
  color: $color-button-icon-green;
}
.btn_panel .btn:nth-child(2) .icon {
  color: $color-button-icon-blue;
}
.btn_panel .btn:nth-child(3) .icon {
  color: $color-button-icon-green;
}

.icon svg {
  transition: filter 0.3s cubic-bezier(0.13, 0.97, 0.27, 0.98);
}

.icon:active svg {
  // transform: scale(1.2);
  filter: brightness(1.2);
}
